# API Key pour Groq (IA)
GROQ_API_KEY=votre_cle_ici

# Django Settings (Optionnel en local)
# SECRET_KEY=votre_cle_secrete
# DEBUG=True
OPENROUTER_API_KEY=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